<ion-view title="设置">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <label class="item item-select">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>