<ion-view style="" title="添加银行卡">
    <ion-content class="has-header has-footer" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">卡号</span>
                <input placeholder="请输入银行卡号" type="text">
            </label>
        </form>
        <form style="" class="list">
            <label style="" class="item item-select item-positive">
                <span class="input-label">开户行</span>
                <select>
                    <option value="1">北京银行</option>
                    <option value="2">广发银行</option>
                    <option value="3">招商银行</option>
                    <option value="4">江苏银行</option>
                </select>
            </label>
            <button class="button button-stable button-block" type="submit" href="#/tab/add-card">确认添加</button>

        </form>
        
    </ion-content>
</ion-view>