<ion-view style="" title="更多">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div style="width:20%;margin:auto;"><img src="img/OqafwggPTny5mLSjXgyE_logo.png" style="width: 100%; height: auto;"></div>
        <div class="button-bar">
            <a href="#/intro" class="button button-stable button-block  icon-left ion-android-textsms">品牌介绍</a>
            <button class="button button-stable button-block  icon-left ion-android-create">意见反馈</button>
            <button class="button button-stable button-block  icon-left ion-android-person">新手介绍</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block  icon-left ion-star">安全保障</button>
            <button class="button button-stable button-block  icon-left ion-android-settings">设置</button>
            <button class="button button-stable button-block  icon-left ion-home">官方账号</button>
        </div>
        <div class="list card">
            <div class="item item-divider">全国客服电话</div>
            <div class="item item-body">
                <div>
                    <p>400-000-0000</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>