<ion-view view-title="我的必赚">
  <ion-content>
    <div class="positive-bg" style="background:#efefee !important;">
    <div class="assertive-bg light" style="margin-top: 2px;">
      <a href="#" class="button button-clear button-light ion-android-more-vertical padding">
        <img src="pic/vip.png" width="30px" height="30px" style="position: relative;top:6px" />
        <span>*伟</span>
      </a>
      <div class="row padding-left padding-right">
        <div class="col">
          理财中金额
        </div>
        <div class="col" style="text-align: right">
          预期总收益
        </div>
      </div>
      <div class="row" style="padding-left: 20px;padding-right: 20px;padding-bottom: 20px;font-size:48px;margin-bottom: 10px;">
        <div class="col">
          0
        </div>
        <div class="divider"></div>
        <div class="col"  style="text-align: right">
          0.00
        </div>
      </div>
      <a href="#" class="button button-light button-clear button-full"
         style="background: rgba(255,255,255,0.1);padding:0px; padding-left: 10px;padding-right: 10px">
        <span style="float:right">
          提现
          <i class="ion-ios-arrow-right padding-left"></i>
        </span>
        <span style="float:left">可用金额 0.00</span>
      </a>
    </div>
    <div class="row text-align-center light-bg" style=" margin-top: 10px; margin-bottom: 10px; border-top:solid rgba(0,0,0,0.1) 1px;border-bottom:solid rgba(0,0,0,0.1) 1px;">
   
      <a href="#/tab/more" class="col button button-dark button-clear"
         style="min-height: 55px;min-width: 0;line-height: 110%;font-size: 14px">
        <img src="pic/member.png" width="25px" height="25px" style="padding: 0;margin: 0;"/><br/>
        <span style="margin-top: 15px">我的账单</span>
      </a>
      <a href="#/tab/card-list" class="col button button-dark button-clear"
         style="min-height: 0;min-width: 0;line-height: 110%;font-size: 14px">
        <img src="pic/coin.png" width="25px" height="25px" style="padding: 0;margin: 0;"/><br/>
        <span style="margin-top: 15px">管理银行卡</span>
      </a>
      <a href="#" class="col button button-dark button-clear"
         style="min-height: 0;min-width: 0;line-height: 110%;font-size: 14px">
        <img src="pic/quan.png" width="25px" height="25px" style="padding: 0;margin: 0;"/><br/>
        <span style="margin-top: 15px">必赚币</span>
      </a>
    </div>
    <div class="row">
      <div class="col padding" style="color:darkgray; text-align:center">
        <img src="pic/no.png" title="pic" width="140px" height="140px" style="margin-top: 20px"/>
        <p>您尚未购买产品，快去购买吧！</p>
        <div class="button button-assertive" style="width: 160px">立即购买</div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
