<ion-view title="我的必赚">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="row">
        <div class="col-50">
        <div class="list card col-92">
            <div class="item item-divider">理财中金额</div>
            <div class="item item-body">
                <div>
                    <p>1000000</p>
                </div>
            </div>
        </div>
    </div>
        <div class="col-50">
        <div class="list card col-99">
            <div class="item item-divider">可用金额</div>
            <div class="item item-body">
                <div>
                    <p>1000000</p>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="button-bar">
            <a href="#/111" class="button button-positive button-block  icon ion-clipboard">账单</a>
            <a href="#/tab/card-list" class="button button-positive button-block  icon ion-card">银行卡</a>
            <a href="#/333/page5" class="button button-positive button-block button-block  icon ion-social-usd-outline">必赚币</a>
        </div>
    </ion-content>
</ion-view>